pyyaml
openai-whisper
torch
opencv-python
mediapipe
numpy
tqdm
ffmpeg-python
sentence-transformers
huggingface_hub[hf_xet]
pyinstaller
pyautogui
fastapi
uvicorn[standard]
python-multipart
yt-dlp
requests
pillow
faster-whisper
openai
click
Unidecode
flask
flask-cors
customtkinter
